@import url(http://db.onlinewebfonts.com/c/75ba54d9fa931a57fe28d3e0b1b73195?family=BuckleyW00-Regular);

body {
   
    padding-top: 50px;
    padding-bottom: 20px;
}
#header {
    background-color: blue;
    border-bottom: 5px black;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.profilepanel {
    float: left;
    border: solid 5px black;
    padding: 10px;
    margin: 5px;
    overflow: hidden;
}
#profilewrap {
    width: 900px;
}
.leftcolumn {
    float: left;
    width: 200px;
    border: 10px black;
}
.middlecolumn {
    float: left;
    width: 400px;
    border: 5px black;
}
.thirdcolumn {
    float: left;
    width: 300px;
    border: 5px black;
}

.textdiv {

word-wrap: break-word;

}
img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}


.listborder {
    border-top: black;
    border-bottom: 10px black;
    float: left;
     padding: 10px;
    margin: 5px;
    overflow: hidden;
}
.layout header {
    background-color: blue;
      border-bottom: 30px black;
}
.navbar {
    background-color: blue;
    padding-top: 25px;
    height: 110px;
  

}
.button {
    background-color: #4CAF50; /* Green */
    border-left: 2px black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}


.navbar-inverse .navbar-nav > li > a {
    color: white;
    position: relative;
    margin: auto;
    font-size: 25px;
    
}
.layoutpage {
    background-color:  pink ;
    color: blue;
    text-align: center;
}







.searchbar {
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

.profile header {
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

.generallist {
  width: 200px;
}
.listgeneral {
  margin: 0 auto;
  max-width: 440px;
 
  
    



 
}
.workbench {
    position:fixed; top:20%; right:10%;
    float: right;
    border: 5px black;
}
.profilesidebar {
     position:fixed; top:20%; left:10%;
    float: left;
    border: 5px black;
}


#workbenchborder {
        border: 5px black;
}

ul {
  float: left;
  list-style-type: none;
 display:inline-block; 
  
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
      margin-bottom: 30px;
}


.lastitem {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 5px solid black;
    text-align: center;
}
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;

    text-align: center;
}

li:last-child {
  border: none;
    text-align: center;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
    margin: 0 auto;
    
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
 
}

li a:hover {
  font-size: 30px;
  background: white;

}